.header{
    background-color: aliceblue;
    grid-area: h;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.header_logo{
flex-grow: 0;
}
.header_title{
    flex-grow: 2;
}
.logo{
    width: 55px;
    margin: 3px;
    display: inline-block;
}